aioredis
alembic
celery[redis]
fastapi[all]
httpx
passlib[bcrypt]
pgvector
python-jose
psycopg2-binary
pydantic
python-dotenv
redis
sentence-transformers
sqlalchemy
transformers
uvicorn[standard]